<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.ctu.pda.ivelge" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.ctu.pda.ivelge.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.ctu.pda.ivelge.TestDetail"
            android:label="@string/title_activity_test_detail"
            android:parentActivityName="cz.ctu.pda.ivelge.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="cz.ctu.pda.ivelge.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="cz.ctu.pda.ivelge.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="cz.ctu.pda.ivelge.ParticipantDetailActivity"
            android:label="@string/title_activity_participant_detail"
            android:parentActivityName="cz.ctu.pda.ivelge.TestDetail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TestDetail" />
        </activity>
        <activity
            android:name="cz.ctu.pda.ivelge.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName="cz.ctu.pda.ivelge.ParticipantDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ParticipantDetailActivity" />
        </activity>
    </application>

</manifest>
